In [6]:
import pandas as pd
import numpy as np

In [7]:
import warnings
warnings.filterwarnings("ignore")
# Loading the Data
books=pd.read_csv("C:\\Users\\kvsan\\Desktop\\Ml projects\\Book Recomender\\Books.csv\\Books.csv")
users=pd.read_csv("C:\\Users\\kvsan\\Desktop\\Ml projects\\Book Recomender\\Users.csv\\Users.csv")
ratings=pd.read_csv("C:\\Users\\kvsan\\Desktop\\Ml projects\\Book Recomender\\Ratings.csv\\Ratings.csv")

In [8]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [9]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [10]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [11]:
print("Books Shape:",books.shape)
print("Users Shape:",users.shape)
print("Ratings Shape:",ratings.shape)

Books Shape: (271360, 8)
Users Shape: (278858, 3)
Ratings Shape: (1149780, 3)

## **Books Rated by more than 150 members and average rating grater than 3**

In [12]:
ratings_with_names=ratings.merge(books,on="ISBN")

In [13]:
ratings_with_names.head(1)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [14]:
ratings_with_names.isnull().sum()

User-ID                0
ISBN                   0
Book-Rating            0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            4
dtype: int64

In [15]:
book_rating_count=ratings_with_names.groupby("Book-Title").count()["Book-Rating"].reset_index() # Book title and 
book_rating_count.rename(columns={"Book-Rating":"Count"},inplace=True)

In [16]:
book_rating_avg=ratings_with_names[["Book-Title","Book-Rating"]].groupby("Book-Title").mean()["Book-Rating"].reset_index()
book_rating_avg.rename(columns={"Book-Rating":"AvgRating"},inplace=True)

In [17]:
popularity_df=book_rating_avg.merge(book_rating_count,on="Book-Title")

In [18]:
popularity_df

                                               Book-Title  AvgRating  Count
0        A Light in the Storm: The Civil War Diary of ...   2.250000      4
1                                   Always Have Popsicles   0.000000      1
2                    Apple Magic (The Collector's series)   0.000000      1
3        Ask Lily (Young Women of Faith: Lily Series, ...   8.000000      1
4        Beyond IBM: Leadership Marketing and Finance ...   0.000000      1
...                                                   ...        ...    ...
241066                                      Ã?Â?lpiraten.   0.000000      2
241067                     Ã?Â?rger mit Produkt X. Roman.   5.250000      4
241068                                Ã?Â?sterlich leben.   7.000000      1
241069                              Ã?Â?stlich der Berge.   2.666667      3
241070                                  Ã?Â?thique en toc   4.000000      2

[241071 rows x 3 columns]

In [19]:
Top50_popolar_books=popularity_df[(popularity_df["AvgRating"]>=3) & (popularity_df["Count"]>=150)].sort_values("AvgRating",ascending=False).head(50)

In [20]:
Top50_popolar_books

                                               Book-Title  AvgRating  Count
80434   Harry Potter and the Prisoner of Azkaban (Book 3)   5.852804    428
80422        Harry Potter and the Goblet of Fire (Book 4)   5.824289    387
80441      Harry Potter and the Sorcerer's Stone (Book 1)   5.737410    278
80426   Harry Potter and the Order of the Phoenix (Boo...   5.501441    347
60582       Ender's Game (Ender Wiggins Saga (Paperback))   5.409639    249
80414    Harry Potter and the Chamber of Secrets (Book 2)   5.183453    556
191612  The Hobbit : The Enchanting Prelude to The Lor...   5.007117    281
187377  The Fellowship of the Ring (The Lord of the Ri...   4.948370    368
189274                 The Giver (21st Century Reference)   4.916201    179
94259        Ishmael: An Adventure of the Mind and Spirit   4.907407    162
80445   Harry Potter and the Sorcerer's Stone (Harry P...   4.895652    575
211384     The Two Towers (The Lord of the Rings, Part 2)   4.880769    260
200913                              The Other Boleyn Girl   4.761006    159
219741                              To Kill a Mockingbird   4.700000    510
183573                                  The Da Vinci Code   4.642539    898
160107                                         Siddhartha   4.563953    172
187880                 The Five People You Meet in Heaven   4.551163    430
7742                                    A Wrinkle In Time   4.550633    158
180556                             The Catcher in the Rye   4.545657    449
204672  The Return of the King (The Lord of the Rings,...   4.497630    211
55014                                  Dragonfly in Amber   4.476821    151
196326                          The Lovely Bones: A Novel   4.468726   1295
190081                                   The Great Gatsby   4.458537    205
764                                                  1984   4.454225    284
144165                           Prodigal Summer: A Novel   4.450593    253
128670                                         Neverwhere   4.449057    265
206502                            The Secret Life of Bees   4.447028    774
168719  Stupid White Men ...and Other Sorry Excuses fo...   4.356890    283
223135  Tuesdays with Morrie: An Old Man, a Young Man,...   4.354970    493
204387                The Red Tent (Bestselling Backlist)   4.334716    723
27295                                     Brave New World   4.331858    226
239022                                    Year of Wonders   4.331361    169
191589               The Hitchhiker's Guide to the Galaxy   4.328358    268
39675                                            Coraline   4.327869    183
118982                             Memoirs of a Geisha Uk   4.312883    163
7743                                    A Wrinkle in Time   4.307292    192
129379   Nickel and Dimed: On (Not) Getting By in America   4.289552    335
209778                                    The Tao of Pooh   4.289100    211
14607                                         Animal Farm   4.274678    233
93381                                       Into the Wild   4.273810    252
84480                            Holes (Yearling Newbery)   4.272727    154
55986                           Dude, Where's My Country?   4.269663    178
63867                                      Fahrenheit 451   4.264059    409
76287                                          Good Omens   4.244048    168
7373    A Walk in the Woods: Rediscovering America on ...   4.243902    205
74750                           Girl with a Pearl Earring   4.218631    526
129444                                              Night   4.217822    202
136145                                          Outlander   4.173145    283
127366                                              Naked   4.158163    196
185338  The Drawing of the Three (The Dark Tower, Book 2)   4.134078    179

## Colaborative Filtering
**We are going to consider books read by more than 50 people and users who read more than 200 books**
- **Books > 50**
- **Users > 200**

In [21]:
x=ratings_with_names.groupby("User-ID").count()["Book-Rating"]>200 # Users who has rated on more than 200 books
imp_users=x[x].index

In [22]:
filtered_users=ratings_with_names[ratings_with_names["User-ID"].isin(imp_users)] # These are all the important users.

In [23]:
y=filtered_users.groupby("Book-Title").count()["Book-Rating"]>50
famous_books=y[y].index

In [24]:
final_ratings=filtered_users[filtered_users["Book-Title"].isin(famous_books)]

In [25]:
pivoit_table=final_ratings.pivot_table(index="Book-Title",columns="User-ID",values="Book-Rating")
pivoit_table.fillna(0,inplace=True)

In [26]:
pivoit_table.shape

(679, 810)

In [27]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix=cosine_similarity(pivoit_table)

In [28]:
similarity_matrix.shape

(679, 679)

In [29]:
def recommender(book_name):
    index=np.where(pivoit_table.index==book_name)[0][0]
    similar_items=sorted(list(enumerate(similarity_matrix[index])),key=lambda x:x[1],reverse=True)[1:6]
    
    for i in similar_items:
        print(pivoit_table.index[i[0]])

In [30]:
recommender("1984")

Animal Farm
The Handmaid's Tale
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
The Hours : A Novel

In [32]:
import pickle
pickle.dump(Top50_popolar_books,open("popular.pkl","wb"))

In [40]:
pickle.dump(pivoit_table,open("piviot_table","wb"))

In [54]:
piviot_dict=pivoit_table.to_dict()

In [58]:
pickle.dump(piviot_dict,open("piviot_dict","wb"))
pickle.dump(similarity_matrix,open("similarity_matrix","wb"))

In [59]:
similarity_matrix

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [64]:
temp_df = books[books["Book-Title"]=="1984"]

In [71]:
temp_df["Book-Author"].values[1]

'George Orwell'